@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

li {
  font-weight: 250;
  line-height: 3;
}

ull::marker {
  font-size: 5em;
}
